.section {
    margin: 2.5rem 10.3125rem 0 10.3125rem;
}

.heading {
    font-family: Lato, arial, sans-serif;
    font-size: 1.3125rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.divider {

}