.section {
    margin: 2.5rem 12.5% 2.5rem 12.5%;
    padding: 0 5%;
    @media (max-width: 1000px) {
        padding: 0;
        margin: 2.5rem 5%;
    }
    @media (max-width: 600px) {
        margin: 1.5rem 2.5%;
    }
}

.heading {
    font-family: Lato, Arial, sans-serif;
    color: #1B1B1B;
    font-size: 1.375rem;
    margin-bottom: 16px;
    letter-spacing: 0.0625rem;
    @media (max-width: 600px) {
        text-align: center; /* Center heading on smaller screens */
    }
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 0.25rem 0 2rem 0;
}

.animatedDivider {
    width: 100%;
    display: block !important; /* Override the inline-block from AnimatedComponent */
}

.slide {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem; /* Add space between elements */
    height: auto;
  
    @media (max-width: 768px) {
      flex-direction: column; /* Stack items vertically */
      gap: 0; /* Remove gap for a cleaner vertical layout */
    }
  }

.slide_split {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    @media (max-width: 600px) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.image_container {
    width: 50%;
    overflow: hidden;
  
    @media (max-width: 768px) {
      width: 100%; /* Full width on smaller screens */
      order: 1; /* Ensure image appears first */
    }
  }

  .image {
    width: 100%;
    height: 18.5rem;
    object-fit: cover;
  
    @media (max-width: 768px) {
      height: auto; /* Allow height to adjust proportionally */
    }
  }

.slide_description {
    font-family: Lusitana, Georgia, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%; /* Maintain 50% width for larger screens */
    @media (max-width: 768px) {
        order: 2;
        width: 100%; /* Full width for smaller screens */
        padding: 1rem 0;
    }

    .description_label {
        font-size: 1.375rem;
        color: #1B1B1B;
        margin-bottom: 1.5rem;
        @media (max-width: 600px) {
            font-size: 1.25rem;
        }
    }

    .description {
        font-size: 1rem;
        color: #5E5E5E;
        @media (max-width: 600px) {
            font-size: 0.875rem;
        }
    }
}
